.box{
    width: 100px;
    height: 100px;
    /* background-color: #123aba   hex= 0123456789abcdef */
    /* min-black max-white */
    /* background-color: #000; */
    
    /* background-color: rgb(red, green, blue); */
    /* background-color: rgb(0, 5, 0); */
    /* rgb->max 255 | -> min 0 */

    /* background-color: rgba(red, green, blue, alpha); */
    /* background-color: rgba(0, 255, 0, .5); 0->1 */



}



/* html{
    font-size:3px ;
}

div{
    font-size:10px ;
    
} */

/* h1{ */
    /* 1rem = 16px */
    /* 1em = 16px */
    /* font-size: 10rem; */
/* } */