/* .list{
    width: 30%;
    display: flex;
    justify-content: space-between;

}

.submenu{

    transition: 1s;
    width: 100px;
    height: 0px;
    background-color: black;
    color: #fff;
} */


/* ol{
    transition: 1s;
    transform: translateX(-300px);
    width: 10%;
    height: auto;
    padding: 40px;
    background-color: bisque;
} */






